.App {
  max-width: 580px;
  border: 2px solid #939aa9;
  margin: 20px 0 0 20px;
  border-radius: 25px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(215, 223, 252) 0%,
    rgb(255, 255, 255) 0%,
    rgb(215, 223, 252) 84%
  );
  padding: 20px;
  background-color: rgb(27, 30, 49);
}
